MAUTIC_DB_HOST=db
MAUTIC_DB_PORT=3306
MAUTIC_DB_DATABASE=${MYSQL_DATABASE}
MAUTIC_DB_USER=${MYSQL_USER}
MAUTIC_DB_PASSWORD=${MYSQL_PASSWORD}

MAUTIC_MESSENGER_DSN_EMAIL=doctrine://default
MAUTIC_MESSENGER_DSN_HIT=doctrine://default

GE360_PROSPEX_URL=${GE360_PROSPEX_URL}
GE360_SUITECRM_URL=${GE360_SUITECRM_URL}
GE360_N8N_URL=${GE360_N8N_URL}
GE360_JARVIS_URL=${GE360_JARVIS_URL}
GE360_BRIDGE_URL=http://ge360_bridge:8080
